/* Default CSS */
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.left{
    float: left;
}
.right{
    float: right;
}
img{
    max-width: 100%;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
a{
    text-decoration: none;
}
.mid-content{
    max-width: 1080px;
    margin: auto;
}

/* Jb*/
.divone{
    background-color: rgb(221, 221, 221);
    border-bottom: 1px solid black;
}
.movie-title{
    padding: 10px 0px 10px 0px;
}
body{
    background-color: rgb(30, 51, 54);
}
.titanic{
    padding-top: 50px;
}

/* Main CSS */
body,h1,h2,h3,h4,h5,h6,p,li,span{
    font-family: 'Work Sans', sans-serif;
}
.header-section{
    background-color: #fff;
    border-bottom: 1px solid rgb(228, 228, 228);
    padding: 7px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}
.header-logo{
    width: 30%;
}
.header-menu{
    width: 56%;
}
.header-button{
    width: 14%;
    text-align: right;
}
.header-btn a{
    display: inline-block;
    border: 2px solid rgb(78, 78, 243);
    color: rgb(78, 78, 243);
    padding: 10px 20px;
    margin-top: 3px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 600;

}
.header-btn a:hover{
    color: white;
    background-color: rgb(78, 78, 243);
    transition: .2s;
    box-shadow: 1px 1px 12px 3px rgba(78, 78, 243, 0.432);
}
    /* Header Logo Icon */
.header-logo a{
    color: white;
    font-size: 25px;
    background-color: rgb(78, 78, 243);
    padding: 8px 5px;
    display: inline-block;
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 10px;
    margin: 5px;
}
.header-logo span{
    display: inline-block;
    font-size: 25px;
    font-weight: 500;
    margin-top: 10px;
}
.primary-menu ul li{
    display: inline-block;
}
.primary-menu ul li a{
    display: block;
    padding: 0 15px;
    font-size: 16px;
    line-height: 50px;
    color: black;
}
.primary-menu ul li a:hover{
    color: rgb(78, 78, 243);
    transition: .2s;
}

    /* Dropdown Menu */
.primary-menu ul li{
    position: relative;
}
.primary-menu ul li ul{
    position: absolute;
    left: 0;
    top: 100%;
    width: 227px;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    transform: scaleY(0);
    transform-origin: top;
    z-index: 5;
}
.primary-menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}
.primary-menu ul li ul{
    display: inline-block;
}
.primary-menu ul li:hover>a{
    color: rgba(78, 78, 243);
}
.Features{
    width: 200px;

}


/* footer */
.footer{
    background: #1e3336;
    color: #fafafa;
    padding: 10px 0;
}
.footer-left{
float: left;
width: 40%;
}
.footer-right{
float: right;
width: 20%;
}
.footer-right ul{
list-style-type: none;
}
.footer-right ul li{
display: inline-block;   
}
.footer-right ul li a{
color: rgb(255, 255, 255);
margin-left: 10px;
}